<a href="https://colab.research.google.com/github/rajkumar2698/Harvard-Artificates-Collection/blob/main/harvard_art_museums.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
import requests

API_KEY = "67544f3f-577b-4f46-8a7b-d0b23f6ac5f8"

url="https://api.harvardartmuseums.org/classification"


params = {
    "apikey" :API_KEY,
    "size" :100
}

response = requests.get(url, params)
response

In [19]:
data = response.json()
data

{'info': {'totalrecordsperquery': 100,
  'totalrecords': 64,
  'pages': 1,
  'page': 1,
  'responsetime': '241 ms'},
 'records': [{'objectcount': 1,
   'name': 'Natural History Specimens',
   'id': 1133,
   'lastupdate': '2025-12-21T04:03:24-05:00',
   'classificationid': 1133},
  {'objectcount': 1,
   'name': 'Paintings with Text',
   'id': 197,
   'lastupdate': '2025-12-21T04:03:24-05:00',
   'classificationid': 197},
  {'objectcount': 66,
   'name': 'Performance Artifacts',
   'id': 224,
   'lastupdate': '2025-12-21T04:03:24-05:00',
   'classificationid': 224},
  {'objectcount': 1,
   'name': 'Text',
   'id': 204,
   'lastupdate': '2025-12-21T04:03:24-05:00',
   'classificationid': 204},
  {'objectcount': 80,
   'name': 'Tokens',
   'id': 492,
   'lastupdate': '2025-12-21T04:03:24-05:00',
   'classificationid': 492},
  {'objectcount': 349,
   'name': '(not assigned)',
   'id': 0,
   'lastupdate': '2025-12-21T04:03:24-05:00',
   'classificationid': 0},
  {'objectcount': 62,
   'name': 'Brick Stamps',
   'id': 304,
   'lastupdate': '2025-12-21T04:03:24-05:00',
   'classificationid': 304},
  {'objectcount': 46,
   'name': 'Cameos',
   'id': 1086,
   'lastupdate': '2025-12-21T04:03:24-05:00',
   'classificationid': 1086},
  {'objectcount': 1,
   'name': 'Casts',
   'id': 1139,
   'lastupdate': '2025-12-21T04:03:24-05:00',
   'classificationid': 1139},
  {'objectcount': 8,
   'name': 'Containers',
   'id': 1203,
   'lastupdate': '2025-12-21T04:03:24-05:00',
   'classificationid': 1203},
  {'objectcount': 11,
   'name': 'Frames',
   'id': 1188,
   'lastupdate': '2025-12-21T04:03:24-05:00',
   'classificationid': 1188},
  {'objectcount': 248,
   'name': 'Gems',
   'id': 1078,
   'lastupdate': '2025-12-21T04:03:24-05:00',
   'classificationid': 1078},
  {'objectcount': 16,
   'name': 'Graphic Design',
   'id': 171,
   'lastupdate': '2025-12-21T04:03:24-05:00',
   'classificationid': 171},
  {'objectcount': 69,
   'name': 'Inscriptions',
   'id': 344,
   'lastupdate': '2025-12-21T04:03:24-05:00',
   'classificationid': 344},
  {'objectcount': 344,
   'name': 'Material Specimens',
   'id': 1075,
   'lastupdate': '2025-12-21T04:03:24-05:00',
   'classificationid': 1075},
  {'objectcount': 470,
   'name': 'Rubbings',
   'id': 173,
   'lastupdate': '2025-12-21T04:03:25-05:00',
   'classificationid': 173},
  {'objectcount': 2862,
   'name': 'Accessories (non-art)',
   'id': 2,
   'lastupdate': '2025-12-21T04:03:24-05:00',
   'classificationid': 2},
  {'objectcount': 85836,
   'name': 'Photographs',
   'id': 17,
   'lastupdate': '2025-12-21T04:03:24-05:00',
   'classificationid': 17},
  {'objectcount': 944,
   'name': 'Jewelry',
   'id': 19,
   'lastupdate': '2025-12-21T04:03:24-05:00',
   'classificationid': 19},
  {'objectcount': 33961,
   'name': 'Drawings',
   'id': 21,
   'lastupdate': '2025-12-21T04:03:24-05:00',
   'classificationid': 21},
  {'objectcount': 72253,
   'name': 'Prints',
   'id': 23,
   'lastupdate': '2025-12-21T04:03:24-05:00',
   'classificationid': 23},
  {'objectcount': 6863,
   'name': 'Paintings',
   'id': 26,
   'lastupdate': '2025-12-21T04:03:24-05:00',
   'classificationid': 26},
  {'objectcount': 6643,
   'name': 'Sculpture',
   'id': 30,
   'lastupdate': '2025-12-21T04:03:24-05:00',
   'classificationid': 30},
  {'objectcount': 1419,
   'name': 'Tools and Equipment',
   'id': 32,
   'lastupdate': '2025-12-21T04:03:24-05:00',
   'classificationid': 32},
  {'objectcount': 1286,
   'name': 'Multiples',
   'id': 43,
   'lastupdate': '2025-12-21T04:03:24-05:00',
   'classificationid': 43},
  {'objectcount': 664,
   'name': 'Lighting Devices',
   'id': 45,
   'lastupdate': '2025-12-21T04:03:24-05:00',
   'classificationid': 45},
  {'objectcount': 621,
   'name': 'Books',
   'id': 47,
   'lastupdate': '2025-12-21T04:03:24-05:00',
   'classificationid': 47},
  {'objectcount': 20270,
   'name': 'Coins',
   'id': 50,
   'lastupdate': '2025-12-21T04:03:24-05:00',
   'classificationid': 50},
  {'objectcount': 6223,
   'name': 'Vessels',
   'id': 57,
   'lastupdate': '2025-12-21T04:03:25-05:00',
   'classificationid': 57},
  {'objectcount': 404,
   'name': 'Plaques',
   'id': 60,
   'lastupdate': '2025-12-21T04:03:24-05:00',
   'classificationid': 60},
  {'objectcount': 3446,
   'name': 'Textile Arts',
   'id': 62,
   'lastupdate': '2025-12-21T04:03:24-05:00',
   'classificationid': 62},
  {'objectcount': 15737,
   'name': 'Archival Material',
   'id': 64,
   'lastupdate': '2025-12-21T04:03:24-05:00',
   'classificationid': 64},
  {'objectcount': 433,
   'name': 'Audiovisual Works',
   'id': 71,
   'lastupdate': '2025-12-21T04:03:24-05:00',
   'classificationid': 71},
  {'objectcount': 616,
   'name': 'Calligraphy',
   'id': 75,
   'lastupdate': '2025-12-21T04:03:24-05:00',
   'classificationid': 75},
  {'objectcount': 566,
   'name': 'Furniture',
   'id': 76,
   'lastupdate': '2025-12-21T04:03:24-05:00',
   'classificationid': 76},
  {'objectcount': 155,
   'name': 'Paintings with Calligraphy',
   'id': 80,
   'lastupdate': '2025-12-21T04:03:24-05:00',
   'classificationid': 80},
  {'objectcount': 88,
   'name': 'Unidentified',
   'id': 82,
   'lastupdate': '2025-12-21T04:03:25-05:00',
   'classificationid': 82},
  {'objectcount': 336,
   'name': 'Boxes',
   'id': 85,
   'lastupdate': '2025-12-21T04:03:24-05:00',
   'classificationid': 85},
  {'objectcount': 5218,
   'name': 'Fragments',
   'id': 94,
   'lastupdate': '2025-12-21T04:03:24-05:00',
   'classificationid': 94},
  {'objectcount': 1539,
   'name': "Artists' Tools",
   'id': 97,
   'lastupdate': '2025-12-21T04:03:24-05:00',
   'classificationid': 97},
  {'objectcount': 845,
   'name': 'Medals and Medallions',
   'id': 105,
   'lastupdate': '2025-12-21T04:03:24-05:00',
   'classificationid': 105},
  {'objectcount': 57,
   'name': 'Furnishings',
   'id': 114,
   'lastupdate': '2025-12-21T04:03:24-05:00',
   'classificationid': 114},
  {'objectcount': 1176,
   'name': 'Architectural Elements',
   'id': 133,
   'lastupdate': '2025-12-21T04:03:24-05:00',
   'classificationid': 133},
  {'objectcount': 646,
   'name': 'Timepieces',
   'id': 139,
   'lastupdate': '2025-12-21T04:03:24-05:00',
   'classificationid': 139},
  {'objectcount': 970,
   'name': 'Ritual Implements',
   'id': 146,
   'lastupdate': '2025-12-21T04:03:25-05:00',
   'classificationid': 146},
  {'objectcount': 191,
   'name': 'Mosaics',
   'id': 149,
   'lastupdate': '2025-12-21T04:03:24-05:00',
   'classificationid': 149},
  {'objectcount': 363,
   'name': 'Weapons and Ammunition',
   'id': 155,
   'lastupdate': '2025-12-21T04:03:25-05:00',
   'classificationid': 155},
  {'objectcount': 48,
   'name': 'Portfolios',
   'id': 162,
   'lastupdate': '2025-12-21T04:03:24-05:00',
   'classificationid': 162},
  {'objectcount': 134,
   'name': 'Amulets',
   'id': 180,
   'lastupdate': '2025-12-21T04:03:24-05:00',
   'classificationid': 180},
  {'objectcount': 5001,
   'name': 'Manuscripts',
   'id': 185,
   'lastupdate': '2025-12-21T04:03:24-05:00',
   'classificationid': 185},
  {'objectcount': 5899,
   'name': 'Seals',
   'id': 189,
   'lastupdate': '2025-12-21T04:03:24-05:00',
   'classificationid': 189},
  {'objectcount': 63,
   'name': 'Armor',
   'id': 242,
   'lastupdate': '2025-12-21T04:03:24-05:00',
   'classificationid': 242},
  {'objectcount': 181,
   'name': 'Recreational Artifacts',
   'id': 251,
   'lastupdate': '2025-12-21T04:03:24-05:00',
   'classificationid': 251},
  {'objectcount': 171,
   'name': 'Mirrors',
   'id': 302,
   'lastupdate': '2025-12-21T04:03:24-05:00',
   'classificationid': 302},
  {'objectcount': 70,
   'name': 'Riding Equipment',
   'id': 330,
   'lastupdate': '2025-12-21T04:03:24-05:00',
   'classificationid': 330},
  {'objectcount': 32,
   'name': 'Musical Instruments',
   'id': 359,
   'lastupdate': '2025-12-21T04:03:24-05:00',
   'classificationid': 359},
  {'objectcount': 77,
   'name': 'Measuring Devices',
   'id': 364,
   'lastupdate': '2025-12-21T04:03:24-05:00',
   'classificationid': 364},
  {'objectcount': 49,
   'name': 'Tablets',
   'id': 381,
   'lastupdate': '2025-12-21T04:03:24-05:00',
   'classificationid': 381},
  {'objectcount': 539,
   'name': 'Albums',
   'id': 384,
   'lastupdate': '2025-12-21T04:03:24-05:00',
   'classificationid': 384},
  {'objectcount': 5128,
   'name': 'Straus Materials',
   'id': 959,
   'lastupdate': '2025-12-21T04:03:24-05:00',
   'classificationid': 959},
  {'objectcount': 535,
   'name': "Artists' Materials",
   'id': 1012,
   'lastupdate': '2025-12-21T04:03:24-05:00',
   'classificationid': 1012},
  {'objectcount': 64,
   'name': 'Stained Glass',
   'id': 1088,
   'lastupdate': '2025-12-21T04:03:24-05:00',
   'classificationid': 1088},
  {'objectcount': 11,
   'name': 'Models',
   'id': 1137,
   'lastupdate': '2025-12-21T04:03:24-05:00',
   'classificationid': 1137},
  {'objectcount': 3,
   'name': 'Documents',
   'id': 1185,
   'lastupdate': '2025-12-21T04:03:24-05:00',
   'classificationid': 1185}]}

In [20]:
data = response.json()
info =data["records"]

for i in info :
  if i ["objectcount"] >= 2500:
    print(i["name"],":",i["objectcount"])

Accessories (non-art) : 2862
Photographs : 85836
Drawings : 33961
Prints : 72253
Paintings : 6863
Sculpture : 6643
Coins : 20270
Vessels : 6223
Textile Arts : 3446
Archival Material : 15737
Fragments : 5218
Manuscripts : 5001
Seals : 5899
Straus Materials : 5128

In [21]:
import requests
import pandas as pd

API_KEY = "67544f3f-577b-4f46-8a7b-d0b23f6ac5f8"
BASE_URL = "https://api.harvardartmuseums.org/object"
CLASSIFICATIONS = ["Prints", "Coins", "Vessels", "Paintings", "Sculpture"]

metadata_rows = []
media_rows = []
colors_rows = []

for classification in CLASSIFICATIONS:
    print(f"Collecting {classification}...")
    page = 1
    class_records = 0

    while class_records < 2500:
        params = {
            "apikey": API_KEY,
            "size": 100,
            "page": page,
            "classification": classification
        }

        response = requests.get(BASE_URL, params=params)
        data = response.json()
        records = data.get("records", [])

        if not records:
            break

        for rec in records:
            object_id = rec.get("id")

            # ---------- METADATA ----------
            metadata_rows.append({
                "id": object_id,
                "title": rec.get("title"),
                "culture": rec.get("culture"),
                "period": rec.get("period"),
                "century": rec.get("century"),
                "medium": rec.get("medium"),
                "dimensions": rec.get("dimensions"),
                "description": rec.get("description"),
                "department": rec.get("department"),
                "classification": rec.get("classification"),
                "accessionyear": rec.get("accessionyear")
            })

            # ---------- MEDIA ----------
            images = rec.get("images", [])
            media_rows.append({
                "object_id": object_id,
                "imagecount": len(images),
                "mediacount": len(images),
                "colorcount": len(rec.get("colors", [])),
                "rank": rec.get("rank"),
                "datebegin": rec.get("datedepictbegin"),
                "dateend": rec.get("datedepictend")
            })

            # ---------- COLORS (ONE COLOR = ONE ROW) ----------
            colors = rec.get("colors", [])
            for c in colors:
                colors_rows.append({
                    "object_id": object_id,
                    "hue": c.get("hue"),
                    "percent": c.get("percent"),
                    "css3": c.get("css3"),
                    "spectrum": c.get("spectrum")
                })


        class_records += len(records)
        page += 1

    print(f"{classification}: Collected {min(class_records, 2500)} records\n")

# ---------- DataFrames ----------
metadata_df = pd.DataFrame(metadata_rows)
media_df = pd.DataFrame(media_rows)
colors_df = pd.DataFrame(colors_rows)

print("Data collection completed")
print(metadata_df.shape, media_df.shape, colors_df.shape)

Collecting Prints...
Prints: Collected 2500 records

Collecting Coins...
Coins: Collected 2500 records

Collecting Vessels...
Vessels: Collected 2500 records

Collecting Paintings...
Paintings: Collected 2500 records

Collecting Sculpture...
Sculpture: Collected 2500 records

Data collection completed
(12500, 11) (12500, 7) (83002, 5)

In [47]:
import sqlalchemy
from sqlalchemy import create_engine
!pip install pymysql

Requirement already satisfied: pymysql in /usr/local/lib/python3.12/dist-packages (1.1.2)

In [48]:
from sqlalchemy import MetaData, Table, Column, Integer, Text, Float, ForeignKey, PrimaryKeyConstraint

metadata = MetaData()

artifact_metadata = Table(
    "artifact_metadata", metadata,
    Column("id", Integer, primary_key=True),
    Column("title", Text),
    Column("culture", Text),
    Column("period", Text),
    Column("century", Text),
    Column("medium", Text),
    Column("dimensions", Text),
    Column("description", Text),
    Column("department", Text),
    Column("classification", Text),
    Column("accessionyear", Integer),
    Column("accessionmethod", Text)
)

artifact_media = Table(
    "artifact_media", metadata,
    Column("object_id", Integer, ForeignKey("artifact_metadata.id"), primary_key=True),
    Column("imagecount", Integer),
    Column("mediacount", Integer),
    Column("colorcount", Integer),
    Column("rank", Integer),
    Column("datebegin", Integer),
    Column("dateend", Integer)
)

artifact_colors = Table(
    "artifact_colors", metadata,
    Column("object_id", Integer, ForeignKey("artifact_metadata.id"), primary_key=True),
    Column("hue", Text),
    Column("percent", Float),
    Column("css3", Text),
    Column("spectrum", Text),

)

def create_tables():
    from sqlalchemy import create_engine
    engine = create_engine(
   "mysql+pymysql://2PpJDCf8pRjqz7P.root:xWoSRxokaC3mm9Uv@gateway01.ap-southeast-1.prod.aws.tidbcloud.com:4000/harvards_artifact_collections"
   "?ssl_ca=/etc/ssl/certs/ca-certificates.crt"
   "&ssl_verify_cert=true"
   "&ssl_verify_identity=true"
)

    metadata.create_all(engine)
    print("Tables created with relationships")

if __name__ == "__main__":
    create_tables()

Tables created with relationships

In [49]:

metadata_df = metadata_df.drop_duplicates(subset=["id"])
metadata_df = metadata_df[metadata_df["id"].notnull()]
metadata_df["id"] = metadata_df["id"].astype(int)


media_df = media_df.drop_duplicates(subset=["object_id"])
media_df = media_df[media_df["object_id"].notnull()]
media_df["object_id"] = media_df["object_id"].astype(int)


colors_df = colors_df.drop_duplicates(subset=["object_id", "hue"])
colors_df = colors_df[colors_df["object_id"].notnull()]
colors_df["object_id"] = colors_df["object_id"].astype(int)

In [50]:
from sqlalchemy import text,create_engine

engine = create_engine(
   "mysql+pymysql://2PpJDCf8pRjqz7P.root:xWoSRxokaC3mm9Uv@gateway01.ap-southeast-1.prod.aws.tidbcloud.com:4000/harvards_artifact_collections" "?ssl_ca=/etc/ssl/certs/ca-certificates.crt"
    "&ssl_verify_cert=true"
    "&ssl_verify_identity=true"
)


# ---------- METADATA ----------
with engine.begin() as conn:
    existing_ids = pd.read_sql(
        "SELECT id FROM artifact_metadata",
        conn
    )["id"].tolist()

    metadata_new = metadata_df[~metadata_df["id"].isin(existing_ids)]

    if not metadata_new.empty:
        metadata_new.to_sql(
            name="artifact_metadata",
            con=conn,
            if_exists="append",
            index=False
        )

# ---------- MEDIA ----------
with engine.begin() as conn:
    existing_media_ids = pd.read_sql(
        "SELECT object_id FROM artifact_media",
        conn
    )["object_id"].tolist()

    media_new = media_df[~media_df["object_id"].isin(existing_media_ids)]

    if not media_new.empty:
        media_new.to_sql(
            name="artifact_media",
            con=conn,
            if_exists="append",
            index=False
        )


# ---------- COLORS ----------
with engine.begin() as conn:
    existing_colors_keys = pd.read_sql(
        "SELECT object_id, hue, percent FROM artifact_colors",
        conn
    )

    colors_new = colors_df.merge(
        existing_colors_keys,
        on=["object_id", "hue", "percent"],
        how="left",
        indicator=True
    )

    colors_new = (
        colors_new[colors_new["_merge"] == "left_only"]
        .drop(columns=["_merge"])
    )

    if not colors_new.empty:
        colors_new.to_sql(
            name="artifact_colors",
            con=conn,
            if_exists="replace",
            index=False
        )

In [71]:
%%writefile sql_queries.py

SQL_QUERIES = {

    # ðŸº artifact_metadata
    "Byzantine titles and hues": """
        SELECT m.title, c.hue
        FROM artifact_metadata m
        JOIN artifact_colors c ON m.id = c.object_id
         WHERE m.culture = 'Byzantine';
     """,


    "Unique cultures": """
        SELECT DISTINCT culture
        FROM artifact_metadata
        WHERE culture IS NOT NULL;
    """,

    "Artifacts from Archaic Period": """
        SELECT *
        FROM artifact_metadata
        WHERE period = 'Archaic';
    """,

    "Titles ordered by accession year": """
        SELECT title, accessionyear
        FROM artifact_metadata
        ORDER BY accessionyear DESC;
    """,

    "Artifacts per department": """
        SELECT department, COUNT(*) AS artifact_count
        FROM artifact_metadata
        GROUP BY department;
    """,

    # ðŸ–¼ï¸ artifact_media
    "Artifacts with more than 1 image": """
        SELECT object_id, imagecount
        FROM artifact_media
        WHERE imagecount > 1;
    """,

    "Average rank of artifacts": """
        SELECT AVG(`rank`) AS avg_rank
        FROM artifact_media;
    """,

    "colorcount > mediacount": """
        SELECT *
        FROM artifact_media
        WHERE colorcount > mediacount;
    """,

    "Artifacts created between 1500â€“1600": """
        SELECT *
        FROM artifact_media
        WHERE datebegin >= 1500 AND dateend <= 1600;
    """,

    "Artifacts with no media files": """
        SELECT COUNT(*) AS no_media
        FROM artifact_media
        WHERE mediacount = 0 OR mediacount IS NULL;
    """,

    # ðŸŽ¨ artifact_colors
    "Distinct hues": """
        SELECT DISTINCT hue
        FROM artifact_colors;
    """,

    "Top 5 most used hues": """
        SELECT hue, COUNT(*) AS freq
        FROM artifact_colors
        GROUP BY hue
        ORDER BY freq DESC
        LIMIT 5;
    """,

    "Average coverage per hue": """
        SELECT hue, AVG(percent) AS avg_percent
        FROM artifact_colors
        GROUP BY hue;
    """,

    "Total color entries": """
        SELECT COUNT(*) AS total_colors
        FROM artifact_colors;
    """,

    # ðŸ”— JOIN QUERIES
    "Byzantine titles and hues": """
        SELECT m.title, c.hue
        FROM artifact_metadata m
        JOIN artifact_colors c ON m.id = c.object_id
        WHERE m.culture = 'Byzantine';
    """,

    "Artifacts per classification + avg media": """
        SELECT m.classification,
               COUNT(DISTINCT m.id) AS artifact_count,
               AVG(md.mediacount) AS avg_media
        FROM artifact_metadata m
        LEFT JOIN artifact_media md ON m.id = md.object_id
        GROUP BY m.classification;
    """
}

Overwriting sql_queries.py

In [72]:
%%writefile app.py
import streamlit as st
import pandas as pd
import requests
from sqlalchemy import create_engine, text
from urllib.parse import quote_plus
from sql_queries import SQL_QUERIES

# -------------------- CONFIG --------------------
st.set_page_config(
    page_title="Harvard Artifacts Collection",
    layout="wide"
)

API_KEY = "67544f3f-577b-4f46-8a7b-d0b23f6ac5f8"

# Fixed TiDB connection
password = quote_plus("xWoSRxokaC3mm9Uv")
engine = create_engine(
    f"mysql+pymysql://2PpJDCf8pRjqz7P.root:{password}@gateway01.ap-southeast-1.prod.aws.tidbcloud.com:4000/harvards_artifact_collections?"
    "ssl_ca=/etc/ssl/certs/ca-certificates.crt&ssl_verify_cert=true&ssl_verify_identity=false"
)

# -------------------- TITLE --------------------
st.title("ðŸ›ï¸ Harvard's Artifacts Collection")
st.markdown("""
**Interactive ETL & SQL Analytics Dashboard**
*Collect â†’ Store â†’ Analyze* 2500+ records per classification
""")


# =====================================================
# 1ï¸âƒ£ CLASSIFICATION SELECTION
# =====================================================
st.header("ðŸ“‚ Select Classification")
classification = st.selectbox(
    "Choose an artifact classification",
    ["Coins", "Paintings", "Sculpture", "Prints", "Vessels"]
)

# =====================================================
# 2ï¸âƒ£ DATA COLLECTION BUTTONS
# =====================================================
st.header("âš™ï¸ Data Operations")
col1, col2, col3 = st.columns(3)

with col1:
    collect = st.button("ðŸ“¥ Collect Data", type="primary")

with col2:
    show = st.button("ðŸ‘ï¸ Show Data")

with col3:
    insert = st.button("ðŸ—„ï¸ Insert into SQL")

# Session state
if "metadata_df" not in st.session_state:
    st.session_state.metadata_df = None

# ---------- COLLECT DATA (2500 records) ----------
@st.cache_data
def fetch_data(classification):
    base_url = "https://api.harvardartmuseums.org/object"
    params = {
        "apikey": API_KEY,
        "classification": classification,
        "size": 100,
        "fields": "id,title,classification,culture,period,department,medium",
        "sort": "random"
    }

    all_records = []
    for page in range(1, 26):
        params["page"] = page
        resp = requests.get(base_url, params=params)
        data = resp.json()
        all_records.extend(data.get("records", []))

    return pd.DataFrame(all_records)

if collect:
    with st.spinner(f"Fetching 2500+ {classification} records..."):
        st.session_state.metadata_df = fetch_data(classification)
        st.success(f"âœ… Collected {len(st.session_state.metadata_df)} records!")
        st.balloons()

# ---------- SHOW DATA ----------
if show and st.session_state.metadata_df is not None:
    st.dataframe(st.session_state.metadata_df, use_container_width=True)

# ---------- INSERT DATA (FINAL SAFE VERSION) ----------
if insert and st.session_state.metadata_df is not None:
    try:
        # 1ï¸âƒ£ Get table columns
        table_columns = pd.read_sql(
            "DESCRIBE artifact_metadata",
            engine
        )["Field"].tolist()

        # 2ï¸âƒ£ Keep only valid columns
        df = st.session_state.metadata_df[
            [c for c in st.session_state.metadata_df.columns if c in table_columns]
        ].copy()

        # 3ï¸âƒ£ DROP duplicates INSIDE dataframe (CRITICAL)
        df = df.drop_duplicates(subset=["id"])

        # 4ï¸âƒ£ Remove NULL primary keys
        df = df[df["id"].notnull()]
        df["id"] = df["id"].astype(int)

        # 5ï¸âƒ£ Remove records already in DB
        existing_ids = pd.read_sql(
            "SELECT id FROM artifact_metadata",
            engine
        )["id"].tolist()

        df = df[~df["id"].isin(existing_ids)]

        # 6ï¸âƒ£ Final insert
        if not df.empty:
            df.to_sql(
                "artifact_metadata",
                engine,
                if_exists="append",
                index=False,
                method="multi",
                chunksize=1000
            )
            st.success(f"âœ… Inserted {len(df)} new records safely!")
        else:
            st.info("â„¹ï¸ No new unique records to insert")

    except Exception as e:
        st.error(f"âŒ Insert error: {e}")


# =====================================================
# 3ï¸âƒ£ SQL QUERY SECTION
# =====================================================
st.header("ðŸ” SQL Queries & Analysis")
query_name = st.selectbox("Select Query", list(SQL_QUERIES.keys()))

if st.button("â–¶ï¸ Run Query"):
    try:
        df = pd.read_sql(text(SQL_QUERIES[query_name]), engine)
        st.dataframe(df, use_container_width=True, hide_index=True)
    except Exception as e:
        st.error(f"âŒ Query error: {e}")
        st.info("ðŸ’¡ Collect & insert data first!")

# Quick stats
try:
    col1, col2 = st.columns(2)
    with col1:
        count = pd.read_sql("SELECT COUNT(*) as total FROM artifact_metadata", engine)
        st.metric("Total Records", count['total'].iloc[0])
    with col2:
        classes = pd.read_sql("SELECT COUNT(DISTINCT classification) as classes FROM artifact_metadata", engine)
        st.metric("Classifications", classes['classes'].iloc[0])
except:
    st.info("ðŸ“Š Insert data to see stats")

Overwriting app.py

In [58]:
!pip install -q streamlit
!wget https://github.com/cloudflare/cloudflared/releases/latest/download/cloudflared-linux-amd64
!chmod +x cloudflared-linux-amd64
import subprocess
subprocess.Popen(["./cloudflared-linux-amd64", "tunnel", "--url", "http://localhost:8501"])
!nohup /content/cloudflared-linux-amd64 tunnel --url http://localhost:8501 &

--2025-12-21 14:47:10--  https://github.com/cloudflare/cloudflared/releases/latest/download/cloudflared-linux-amd64
Resolving github.com (github.com)... 140.82.114.4
Connecting to github.com (github.com)|140.82.114.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://github.com/cloudflare/cloudflared/releases/download/2025.11.1/cloudflared-linux-amd64 [following]
--2025-12-21 14:47:10--  https://github.com/cloudflare/cloudflared/releases/download/2025.11.1/cloudflared-linux-amd64
Reusing existing connection to github.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://release-assets.githubusercontent.com/github-production-release-asset/106867604/955e9d1b-ac5e-4188-8867-e5f53958a8fe?sp=r&sv=2018-11-09&sr=b&spr=https&se=2025-12-21T15%3A35%3A05Z&rscd=attachment%3B+filename%3Dcloudflared-linux-amd64&rsct=application%2Foctet-stream&skoid=96c2d410-5711-43a1-aedd-ab1947aa7ab0&sktid=398a6654-997b-47e9-b12b-9515b896b4de&skt=2025-12-21T14%3A34%3A53Z&ske=2025-12-21T15%3A35%3A05Z&sks=b&skv=2018-11-09&sig=fnGtS2FxQJeShwlv0aPP%2Bzl88oEmgf0TndbQjhGF0wY%3D&jwt=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJnaXRodWIuY29tIiwiYXVkIjoicmVsZWFzZS1hc3NldHMuZ2l0aHVidXNlcmNvbnRlbnQuY29tIiwia2V5Ijoia2V5MSIsImV4cCI6MTc2NjMzMDIzMCwibmJmIjoxNzY2MzI4NDMwLCJwYXRoIjoicmVsZWFzZWFzc2V0cHJvZHVjdGlvbi5ibG9iLmNvcmUud2luZG93cy5uZXQifQ.1uYLQ1xeOcIOfbb28_VTUlm6oqvs6h56eDzqZ8ZLD4g&response-content-disposition=attachment%3B%20filename%3Dcloudflared-linux-amd64&response-content-type=application%2Foctet-stream [following]
--2025-12-21 14:47:10--  https://release-assets.githubusercontent.com/github-production-release-asset/106867604/955e9d1b-ac5e-4188-8867-e5f53958a8fe?sp=r&sv=2018-11-09&sr=b&spr=https&se=2025-12-21T15%3A35%3A05Z&rscd=attachment%3B+filename%3Dcloudflared-linux-amd64&rsct=application%2Foctet-stream&skoid=96c2d410-5711-43a1-aedd-ab1947aa7ab0&sktid=398a6654-997b-47e9-b12b-9515b896b4de&skt=2025-12-21T14%3A34%3A53Z&ske=2025-12-21T15%3A35%3A05Z&sks=b&skv=2018-11-09&sig=fnGtS2FxQJeShwlv0aPP%2Bzl88oEmgf0TndbQjhGF0wY%3D&jwt=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJnaXRodWIuY29tIiwiYXVkIjoicmVsZWFzZS1hc3NldHMuZ2l0aHVidXNlcmNvbnRlbnQuY29tIiwia2V5Ijoia2V5MSIsImV4cCI6MTc2NjMzMDIzMCwibmJmIjoxNzY2MzI4NDMwLCJwYXRoIjoicmVsZWFzZWFzc2V0cHJvZHVjdGlvbi5ibG9iLmNvcmUud2luZG93cy5uZXQifQ.1uYLQ1xeOcIOfbb28_VTUlm6oqvs6h56eDzqZ8ZLD4g&response-content-disposition=attachment%3B%20filename%3Dcloudflared-linux-amd64&response-content-type=application%2Foctet-stream
Resolving release-assets.githubusercontent.com (release-assets.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to release-assets.githubusercontent.com (release-assets.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 41258324 (39M) [application/octet-stream]
Saving to: â€˜cloudflared-linux-amd64â€™

cloudflared-linux-a 100%[===================>]  39.35M   210MB/s    in 0.2s

2025-12-21 14:47:10 (210 MB/s) - â€˜cloudflared-linux-amd64â€™ saved [41258324/41258324]

nohup: appending output to 'nohup.out'

In [73]:
!streamlit run app.py &>/content/logs.txt &

In [74]:
!grep -o 'https://.*\.trycloudflare.com' nohup.out | head -n 1 | xargs -I {} echo "Your tunnel url {}"

Your tunnel url https://they-specific-earthquake-trail.trycloudflare.com