<a href="https://colab.research.google.com/github/rajkumar2698/Harvard-Artificates-Collection/blob/main/harvard_art_museums.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
!pip install requests

Requirement already satisfied: requests in /usr/local/lib/python3.12/dist-packages (2.32.4)
Requirement already satisfied: charset_normalizer<4,>=2 in /usr/local/lib/python3.12/dist-packages (from requests) (3.4.4)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.12/dist-packages (from requests) (3.11)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.12/dist-packages (from requests) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.12/dist-packages (from requests) (2025.11.12)

In [5]:
import requests

API_KEY = "67544f3f-577b-4f46-8a7b-d0b23f6ac5f8"

url="https://api.harvardartmuseums.org/classification"


params = {
    "apikey" :API_KEY,
    "size" :100
}

response = requests.get(url, params)
response

In [6]:
data = response.json()
data

{'info': {'totalrecordsperquery': 100,
  'totalrecords': 64,
  'pages': 1,
  'page': 1,
  'responsetime': '8 ms'},
 'records': [{'objectcount': 1,
   'name': 'Natural History Specimens',
   'id': 1133,
   'lastupdate': '2025-12-17T04:03:26-05:00',
   'classificationid': 1133},
  {'objectcount': 1,
   'name': 'Paintings with Text',
   'id': 197,
   'lastupdate': '2025-12-17T04:03:26-05:00',
   'classificationid': 197},
  {'objectcount': 66,
   'name': 'Performance Artifacts',
   'id': 224,
   'lastupdate': '2025-12-17T04:03:26-05:00',
   'classificationid': 224},
  {'objectcount': 1,
   'name': 'Text',
   'id': 204,
   'lastupdate': '2025-12-17T04:03:26-05:00',
   'classificationid': 204},
  {'objectcount': 80,
   'name': 'Tokens',
   'id': 492,
   'lastupdate': '2025-12-17T04:03:26-05:00',
   'classificationid': 492},
  {'objectcount': 349,
   'name': '(not assigned)',
   'id': 0,
   'lastupdate': '2025-12-17T04:03:26-05:00',
   'classificationid': 0},
  {'objectcount': 62,
   'name': 'Brick Stamps',
   'id': 304,
   'lastupdate': '2025-12-17T04:03:26-05:00',
   'classificationid': 304},
  {'objectcount': 46,
   'name': 'Cameos',
   'id': 1086,
   'lastupdate': '2025-12-17T04:03:26-05:00',
   'classificationid': 1086},
  {'objectcount': 1,
   'name': 'Casts',
   'id': 1139,
   'lastupdate': '2025-12-17T04:03:26-05:00',
   'classificationid': 1139},
  {'objectcount': 8,
   'name': 'Containers',
   'id': 1203,
   'lastupdate': '2025-12-17T04:03:26-05:00',
   'classificationid': 1203},
  {'objectcount': 11,
   'name': 'Frames',
   'id': 1188,
   'lastupdate': '2025-12-17T04:03:26-05:00',
   'classificationid': 1188},
  {'objectcount': 248,
   'name': 'Gems',
   'id': 1078,
   'lastupdate': '2025-12-17T04:03:26-05:00',
   'classificationid': 1078},
  {'objectcount': 16,
   'name': 'Graphic Design',
   'id': 171,
   'lastupdate': '2025-12-17T04:03:26-05:00',
   'classificationid': 171},
  {'objectcount': 69,
   'name': 'Inscriptions',
   'id': 344,
   'lastupdate': '2025-12-17T04:03:26-05:00',
   'classificationid': 344},
  {'objectcount': 344,
   'name': 'Material Specimens',
   'id': 1075,
   'lastupdate': '2025-12-17T04:03:26-05:00',
   'classificationid': 1075},
  {'objectcount': 470,
   'name': 'Rubbings',
   'id': 173,
   'lastupdate': '2025-12-17T04:03:26-05:00',
   'classificationid': 173},
  {'objectcount': 2861,
   'name': 'Accessories (non-art)',
   'id': 2,
   'lastupdate': '2025-12-17T04:03:26-05:00',
   'classificationid': 2},
  {'objectcount': 85799,
   'name': 'Photographs',
   'id': 17,
   'lastupdate': '2025-12-17T04:03:26-05:00',
   'classificationid': 17},
  {'objectcount': 944,
   'name': 'Jewelry',
   'id': 19,
   'lastupdate': '2025-12-17T04:03:26-05:00',
   'classificationid': 19},
  {'objectcount': 33960,
   'name': 'Drawings',
   'id': 21,
   'lastupdate': '2025-12-17T04:03:26-05:00',
   'classificationid': 21},
  {'objectcount': 72252,
   'name': 'Prints',
   'id': 23,
   'lastupdate': '2025-12-17T04:03:26-05:00',
   'classificationid': 23},
  {'objectcount': 6863,
   'name': 'Paintings',
   'id': 26,
   'lastupdate': '2025-12-17T04:03:26-05:00',
   'classificationid': 26},
  {'objectcount': 6643,
   'name': 'Sculpture',
   'id': 30,
   'lastupdate': '2025-12-17T04:03:26-05:00',
   'classificationid': 30},
  {'objectcount': 1419,
   'name': 'Tools and Equipment',
   'id': 32,
   'lastupdate': '2025-12-17T04:03:26-05:00',
   'classificationid': 32},
  {'objectcount': 1286,
   'name': 'Multiples',
   'id': 43,
   'lastupdate': '2025-12-17T04:03:26-05:00',
   'classificationid': 43},
  {'objectcount': 664,
   'name': 'Lighting Devices',
   'id': 45,
   'lastupdate': '2025-12-17T04:03:26-05:00',
   'classificationid': 45},
  {'objectcount': 621,
   'name': 'Books',
   'id': 47,
   'lastupdate': '2025-12-17T04:03:26-05:00',
   'classificationid': 47},
  {'objectcount': 20270,
   'name': 'Coins',
   'id': 50,
   'lastupdate': '2025-12-17T04:03:26-05:00',
   'classificationid': 50},
  {'objectcount': 6223,
   'name': 'Vessels',
   'id': 57,
   'lastupdate': '2025-12-17T04:03:26-05:00',
   'classificationid': 57},
  {'objectcount': 404,
   'name': 'Plaques',
   'id': 60,
   'lastupdate': '2025-12-17T04:03:26-05:00',
   'classificationid': 60},
  {'objectcount': 3446,
   'name': 'Textile Arts',
   'id': 62,
   'lastupdate': '2025-12-17T04:03:26-05:00',
   'classificationid': 62},
  {'objectcount': 15737,
   'name': 'Archival Material',
   'id': 64,
   'lastupdate': '2025-12-17T04:03:26-05:00',
   'classificationid': 64},
  {'objectcount': 433,
   'name': 'Audiovisual Works',
   'id': 71,
   'lastupdate': '2025-12-17T04:03:26-05:00',
   'classificationid': 71},
  {'objectcount': 616,
   'name': 'Calligraphy',
   'id': 75,
   'lastupdate': '2025-12-17T04:03:26-05:00',
   'classificationid': 75},
  {'objectcount': 582,
   'name': 'Furniture',
   'id': 76,
   'lastupdate': '2025-12-17T04:03:26-05:00',
   'classificationid': 76},
  {'objectcount': 155,
   'name': 'Paintings with Calligraphy',
   'id': 80,
   'lastupdate': '2025-12-17T04:03:26-05:00',
   'classificationid': 80},
  {'objectcount': 88,
   'name': 'Unidentified',
   'id': 82,
   'lastupdate': '2025-12-17T04:03:26-05:00',
   'classificationid': 82},
  {'objectcount': 336,
   'name': 'Boxes',
   'id': 85,
   'lastupdate': '2025-12-17T04:03:26-05:00',
   'classificationid': 85},
  {'objectcount': 5218,
   'name': 'Fragments',
   'id': 94,
   'lastupdate': '2025-12-17T04:03:26-05:00',
   'classificationid': 94},
  {'objectcount': 1539,
   'name': "Artists' Tools",
   'id': 97,
   'lastupdate': '2025-12-17T04:03:26-05:00',
   'classificationid': 97},
  {'objectcount': 845,
   'name': 'Medals and Medallions',
   'id': 105,
   'lastupdate': '2025-12-17T04:03:26-05:00',
   'classificationid': 105},
  {'objectcount': 57,
   'name': 'Furnishings',
   'id': 114,
   'lastupdate': '2025-12-17T04:03:26-05:00',
   'classificationid': 114},
  {'objectcount': 1176,
   'name': 'Architectural Elements',
   'id': 133,
   'lastupdate': '2025-12-17T04:03:26-05:00',
   'classificationid': 133},
  {'objectcount': 646,
   'name': 'Timepieces',
   'id': 139,
   'lastupdate': '2025-12-17T04:03:26-05:00',
   'classificationid': 139},
  {'objectcount': 970,
   'name': 'Ritual Implements',
   'id': 146,
   'lastupdate': '2025-12-17T04:03:26-05:00',
   'classificationid': 146},
  {'objectcount': 191,
   'name': 'Mosaics',
   'id': 149,
   'lastupdate': '2025-12-17T04:03:26-05:00',
   'classificationid': 149},
  {'objectcount': 363,
   'name': 'Weapons and Ammunition',
   'id': 155,
   'lastupdate': '2025-12-17T04:03:26-05:00',
   'classificationid': 155},
  {'objectcount': 48,
   'name': 'Portfolios',
   'id': 162,
   'lastupdate': '2025-12-17T04:03:26-05:00',
   'classificationid': 162},
  {'objectcount': 134,
   'name': 'Amulets',
   'id': 180,
   'lastupdate': '2025-12-17T04:03:26-05:00',
   'classificationid': 180},
  {'objectcount': 5001,
   'name': 'Manuscripts',
   'id': 185,
   'lastupdate': '2025-12-17T04:03:26-05:00',
   'classificationid': 185},
  {'objectcount': 5899,
   'name': 'Seals',
   'id': 189,
   'lastupdate': '2025-12-17T04:03:26-05:00',
   'classificationid': 189},
  {'objectcount': 63,
   'name': 'Armor',
   'id': 242,
   'lastupdate': '2025-12-17T04:03:26-05:00',
   'classificationid': 242},
  {'objectcount': 181,
   'name': 'Recreational Artifacts',
   'id': 251,
   'lastupdate': '2025-12-17T04:03:26-05:00',
   'classificationid': 251},
  {'objectcount': 171,
   'name': 'Mirrors',
   'id': 302,
   'lastupdate': '2025-12-17T04:03:26-05:00',
   'classificationid': 302},
  {'objectcount': 70,
   'name': 'Riding Equipment',
   'id': 330,
   'lastupdate': '2025-12-17T04:03:26-05:00',
   'classificationid': 330},
  {'objectcount': 32,
   'name': 'Musical Instruments',
   'id': 359,
   'lastupdate': '2025-12-17T04:03:26-05:00',
   'classificationid': 359},
  {'objectcount': 77,
   'name': 'Measuring Devices',
   'id': 364,
   'lastupdate': '2025-12-17T04:03:26-05:00',
   'classificationid': 364},
  {'objectcount': 49,
   'name': 'Tablets',
   'id': 381,
   'lastupdate': '2025-12-17T04:03:26-05:00',
   'classificationid': 381},
  {'objectcount': 539,
   'name': 'Albums',
   'id': 384,
   'lastupdate': '2025-12-17T04:03:26-05:00',
   'classificationid': 384},
  {'objectcount': 5128,
   'name': 'Straus Materials',
   'id': 959,
   'lastupdate': '2025-12-17T04:03:26-05:00',
   'classificationid': 959},
  {'objectcount': 535,
   'name': "Artists' Materials",
   'id': 1012,
   'lastupdate': '2025-12-17T04:03:26-05:00',
   'classificationid': 1012},
  {'objectcount': 64,
   'name': 'Stained Glass',
   'id': 1088,
   'lastupdate': '2025-12-17T04:03:26-05:00',
   'classificationid': 1088},
  {'objectcount': 11,
   'name': 'Models',
   'id': 1137,
   'lastupdate': '2025-12-17T04:03:26-05:00',
   'classificationid': 1137},
  {'objectcount': 3,
   'name': 'Documents',
   'id': 1185,
   'lastupdate': '2025-12-17T04:03:26-05:00',
   'classificationid': 1185}]}

In [7]:
data = response.json()
info =data["records"]

for i in info :
  if i ["objectcount"] >= 2500:
    print(i["name"],":",i["objectcount"])

Accessories (non-art) : 2861
Photographs : 85799
Drawings : 33960
Prints : 72252
Paintings : 6863
Sculpture : 6643
Coins : 20270
Vessels : 6223
Textile Arts : 3446
Archival Material : 15737
Fragments : 5218
Manuscripts : 5001
Seals : 5899
Straus Materials : 5128

In [8]:
import requests

url = "https://api.harvardartmuseums.org/object"
API_KEY = "67544f3f-577b-4f46-8a7b-d0b23f6ac5f8"

classifications = ["Prints", "Coins", "Vessels", "Paintings", "Sculpture"]
all_data_per_class = {}

for classification in classifications:
    print(f"Collecting {classification}...")

    class_records = []
    page = 1

    while len(class_records) < 2500:
        params = {
            "apikey": API_KEY,
            "size": 100,
            "page": page,
            "classification": classification
        }

        response = requests.get(url, params=params)
        data = response.json()
        records = data.get("records", [])

        if not records:
            break

        class_records.extend(records)

        print(f"  Page {page}: {len(records)} records (Total: {len(class_records)})")
        page += 1

        if len(records) < 100:
            break

    all_data_per_class[classification] = class_records[:2500]
    print(f"{classification}: {len(all_data_per_class[classification])} records collected\n")

print("Data collection completed")

Collecting Prints...
  Page 1: 100 records (Total: 100)
  Page 2: 100 records (Total: 200)
  Page 3: 100 records (Total: 300)
  Page 4: 100 records (Total: 400)
  Page 5: 100 records (Total: 500)
  Page 6: 100 records (Total: 600)
  Page 7: 100 records (Total: 700)
  Page 8: 100 records (Total: 800)
  Page 9: 100 records (Total: 900)
  Page 10: 100 records (Total: 1000)
  Page 11: 100 records (Total: 1100)
  Page 12: 100 records (Total: 1200)
  Page 13: 100 records (Total: 1300)
  Page 14: 100 records (Total: 1400)
  Page 15: 100 records (Total: 1500)
  Page 16: 100 records (Total: 1600)
  Page 17: 100 records (Total: 1700)
  Page 18: 100 records (Total: 1800)
  Page 19: 100 records (Total: 1900)
  Page 20: 100 records (Total: 2000)
  Page 21: 100 records (Total: 2100)
  Page 22: 100 records (Total: 2200)
  Page 23: 100 records (Total: 2300)
  Page 24: 100 records (Total: 2400)
  Page 25: 100 records (Total: 2500)
Prints: 2500 records collected

Collecting Coins...
  Page 1: 100 records (Total: 100)
  Page 2: 100 records (Total: 200)
  Page 3: 100 records (Total: 300)
  Page 4: 100 records (Total: 400)
  Page 5: 100 records (Total: 500)
  Page 6: 100 records (Total: 600)
  Page 7: 100 records (Total: 700)
  Page 8: 100 records (Total: 800)
  Page 9: 100 records (Total: 900)
  Page 10: 100 records (Total: 1000)
  Page 11: 100 records (Total: 1100)
  Page 12: 100 records (Total: 1200)
  Page 13: 100 records (Total: 1300)
  Page 14: 100 records (Total: 1400)
  Page 15: 100 records (Total: 1500)
  Page 16: 100 records (Total: 1600)
  Page 17: 100 records (Total: 1700)
  Page 18: 100 records (Total: 1800)
  Page 19: 100 records (Total: 1900)
  Page 20: 100 records (Total: 2000)
  Page 21: 100 records (Total: 2100)
  Page 22: 100 records (Total: 2200)
  Page 23: 100 records (Total: 2300)
  Page 24: 100 records (Total: 2400)
  Page 25: 100 records (Total: 2500)
Coins: 2500 records collected

Collecting Vessels...
  Page 1: 100 records (Total: 100)
  Page 2: 100 records (Total: 200)
  Page 3: 100 records (Total: 300)
  Page 4: 100 records (Total: 400)
  Page 5: 100 records (Total: 500)
  Page 6: 100 records (Total: 600)
  Page 7: 100 records (Total: 700)
  Page 8: 100 records (Total: 800)
  Page 9: 100 records (Total: 900)
  Page 10: 100 records (Total: 1000)
  Page 11: 100 records (Total: 1100)
  Page 12: 100 records (Total: 1200)
  Page 13: 100 records (Total: 1300)
  Page 14: 100 records (Total: 1400)
  Page 15: 100 records (Total: 1500)
  Page 16: 100 records (Total: 1600)
  Page 17: 100 records (Total: 1700)
  Page 18: 100 records (Total: 1800)
  Page 19: 100 records (Total: 1900)
  Page 20: 100 records (Total: 2000)
  Page 21: 100 records (Total: 2100)
  Page 22: 100 records (Total: 2200)
  Page 23: 100 records (Total: 2300)
  Page 24: 100 records (Total: 2400)
  Page 25: 100 records (Total: 2500)
Vessels: 2500 records collected

Collecting Paintings...
  Page 1: 100 records (Total: 100)
  Page 2: 100 records (Total: 200)
  Page 3: 100 records (Total: 300)
  Page 4: 100 records (Total: 400)
  Page 5: 100 records (Total: 500)
  Page 6: 100 records (Total: 600)
  Page 7: 100 records (Total: 700)
  Page 8: 100 records (Total: 800)
  Page 9: 100 records (Total: 900)
  Page 10: 100 records (Total: 1000)
  Page 11: 100 records (Total: 1100)
  Page 12: 100 records (Total: 1200)
  Page 13: 100 records (Total: 1300)
  Page 14: 100 records (Total: 1400)
  Page 15: 100 records (Total: 1500)
  Page 16: 100 records (Total: 1600)
  Page 17: 100 records (Total: 1700)
  Page 18: 100 records (Total: 1800)
  Page 19: 100 records (Total: 1900)
  Page 20: 100 records (Total: 2000)
  Page 21: 100 records (Total: 2100)
  Page 22: 100 records (Total: 2200)
  Page 23: 100 records (Total: 2300)
  Page 24: 100 records (Total: 2400)
  Page 25: 100 records (Total: 2500)
Paintings: 2500 records collected

Collecting Sculpture...
  Page 1: 100 records (Total: 100)
  Page 2: 100 records (Total: 200)
  Page 3: 100 records (Total: 300)
  Page 4: 100 records (Total: 400)
  Page 5: 100 records (Total: 500)
  Page 6: 100 records (Total: 600)
  Page 7: 100 records (Total: 700)
  Page 8: 100 records (Total: 800)
  Page 9: 100 records (Total: 900)
  Page 10: 100 records (Total: 1000)
  Page 11: 100 records (Total: 1100)
  Page 12: 100 records (Total: 1200)
  Page 13: 100 records (Total: 1300)
  Page 14: 100 records (Total: 1400)
  Page 15: 100 records (Total: 1500)
  Page 16: 100 records (Total: 1600)
  Page 17: 100 records (Total: 1700)
  Page 18: 100 records (Total: 1800)
  Page 19: 100 records (Total: 1900)
  Page 20: 100 records (Total: 2000)
  Page 21: 100 records (Total: 2100)
  Page 22: 100 records (Total: 2200)
  Page 23: 100 records (Total: 2300)
  Page 24: 100 records (Total: 2400)
  Page 25: 100 records (Total: 2500)
Sculpture: 2500 records collected

Data collection completed

In [60]:
metadata = []
media = []
colors = []

for classification, records in all_data_per_class.items():
 for i in records:


   metadata.append({
           "id" :i.get('id'),
           "title": i.get("title"),
            "culture": i.get("culture"),
            "period": i.get("period"),
            "century": i.get("century"),
            "medium": i.get("medium"),
            "dimensions": i.get("dimensions"),
            "description": i.get("description"),
            "department": i.get("department"),
            "classification": i.get("classification"),
            "accessionyear": i.get("accessionyear"),
            "accessionmethod": i.get("accessionmethod")



  })

   media.append({
        "object_id": i.get("object_id"),
            "imagecount": i.get("imagecount"),
            "mediacount": i.get("mediacount"),
            "colorcount": i.get("colorcount"),
            "rank": i.get("rank"),
            "datebegin": i.get("datebegin"),
            "dateend": i.get("dateend")


  })
   color_details = i.get("colors")
   if color_details:
            for j in color_details:
                colors.append({
                    "object_id": i.get("object_id"),
                    "color": j.get("color"),
                    "spectrum": j.get("spectrum"),
                    "percent": j.get("percent"),
                    "css3": j.get("css3"),
                    "hue": j.get("hue")

      })

In [29]:
import pandas as pd
import sqlalchemy
from sqlalchemy import create_engine
!pip install pymysql

Requirement already satisfied: pymysql in /usr/local/lib/python3.12/dist-packages (1.1.2)

In [31]:
engine = create_engine("mysql+pymysql://2PpJDCf8pRjqz7P.root:xWoSRxokaC3mm9Uv@gateway01.ap-southeast-1.prod.aws.tidbcloud.com:4000/harvards_artifact_collections" "?ssl_ca=/etc/ssl/certs/ca-certificates.crt"
    "&ssl_verify_cert=true"
    "&ssl_verify_identity=true")

In [32]:
from sqlalchemy import text

with engine.begin() as conn:

    conn.execute(text("""
        CREATE TABLE IF NOT EXISTS artifact_metadata (
            id INT PRIMARY KEY,
            title VARCHAR(255),
            culture VARCHAR(255),
            period VARCHAR(255),
            century VARCHAR(255),
            medium VARCHAR(255),
            dimensions TEXT,
            description TEXT,
            department VARCHAR(255),
            classification VARCHAR(255),
            accessionyear INT,
            accessionmethod VARCHAR(255)
        )
    """))

    conn.execute(text("""
        CREATE TABLE IF NOT EXISTS artifact_media (
            object_id INT,
            imagecount INT,
            mediacount INT,
            colorcount INT,
            `rank` INT,
            datebegin INT,
            dateend INT
        )
    """))

    conn.execute(text("""
        CREATE TABLE IF NOT EXISTS artifact_colors (
            object_id INT,
            hue VARCHAR(100),
            percent FLOAT,
            css3 VARCHAR(50),
            spectrum VARCHAR(50)
        )
    """))

print("tables created successfully")

tables created successfully

In [33]:
metadata_df = pd.DataFrame(metadata)
media_df = pd.DataFrame(media)
colors_df = pd.DataFrame(colors)

In [42]:

metadata_df = metadata_df.drop_duplicates(subset=["id"])
metadata_df = metadata_df[metadata_df["id"].notnull()]
metadata_df["id"] = metadata_df["id"].astype(int)


media_df = media_df.drop_duplicates(subset=["object_id"])
media_df = media_df[media_df["object_id"].notnull()]
media_df["object_id"] = media_df["object_id"].astype(int)


colors_df = colors_df.drop_duplicates(subset=["object_id", "hue"])
colors_df = colors_df[colors_df["object_id"].notnull()]
colors_df["object_id"] = colors_df["object_id"].astype(int)

In [43]:
from sqlalchemy import text

# ---------- METADATA ----------
with engine.connect() as conn:
    existing_ids = pd.read_sql(
        "SELECT id FROM artifact_metadata",
        conn
    )["id"].tolist()

existing_ids = set(existing_ids)

metadata_new = metadata_df[~metadata_df["id"].isin(existing_ids)]

metadata_new.to_sql(
    name="artifact_metadata",
    con=engine,
    if_exists="append",
    index=False
)


# ---------- MEDIA ----------
with engine.connect() as conn:
    existing_media_ids = pd.read_sql(
        "SELECT objectid FROM artifact_media",
        conn
    )["objectid"].tolist()

existing_media_ids = set(existing_media_ids)

media_new = media_df[~media_df["object_id"].isin(existing_media_ids)]
media_new = media_new.rename(columns={"object_id": "objectid"})

media_new.to_sql(
    name="artifact_media",
    con=engine,
    if_exists="append",
    index=False
)


# ---------- COLORS ----------
with engine.connect() as conn:
    existing_color_ids = pd.read_sql(
        "SELECT DISTINCT objectid FROM artifact_colors",
        conn
    )["objectid"].tolist()

existing_color_ids = set(existing_color_ids)

colors_new = colors_df[~colors_df["object_id"].isin(existing_color_ids)]
colors_new = colors_new.rename(columns={"object_id": "objectid"})

colors_new.to_sql(
    name="artifact_colors",
    con=engine,
    if_exists="append",
    index=False
)

print("New rows inserted into all three tables.")

New rows inserted into all three tables.

In [62]:
%%writefile app.py
import streamlit as st
import pandas as pd
from sqlalchemy import create_engine, text

# MySQL / TiDB engine
engine = create_engine(
    "mysql+pymysql://2PpJDCf8pRjqz7P.root:xWoSRxokaC3mm9Uv"
    "@gateway01.ap-southeast-1.prod.aws.tidbcloud.com:4000/harvards_artifact_collections"
    "?ssl_ca=/etc/ssl/certs/ca-certificates.crt"
    "&ssl_verify_cert=true"
    "&ssl_verify_identity=true"
)

st.title(" Harvardâ€™s Artifacts Collection")

st.markdown(
    "Use the selector below to run predefined SQL queries on the artifact_metadata, "
    "artifact_media, and artifact_colors tables."
)

# ------------------ ALL 20 QUERIES ------------------
queries = {
    # artifact_metadata
    "1) 11th century Byzantine artifacts": """
        SELECT *
        FROM artifact_metadata
        WHERE century = '11th century'
          AND culture = 'Byzantine';
    """,
    "2) Unique cultures": """
        SELECT DISTINCT culture
        FROM artifact_metadata
        WHERE culture IS NOT NULL;
    """,
    "3) Artifacts from Archaic Period": """
        SELECT *
        FROM artifact_metadata
        WHERE period = 'Archaic';
    """,
    "4) Titles ordered by accession year (DESC)": """
        SELECT title, accessionyear
        FROM artifact_metadata
        ORDER BY accessionyear DESC;
    """,
    "5) Artifacts per department": """
        SELECT department, COUNT(*) AS artifact_count
        FROM artifact_metadata
        GROUP BY department
        ORDER BY artifact_count DESC;
    """,

    # artifact_media
    "6) Artifacts with more than 1 image": """
        SELECT object_id, imagecount
        FROM artifact_media
        WHERE imagecount > 1;
    """,
    "7) Average rank of all artifacts": """
        SELECT AVG(`rank`) AS avg_rank
        FROM artifact_media
        WHERE `rank` IS NOT NULL;
    """,
    "8) colorcount > mediacount": """
        SELECT object_id, mediacount, colorcount
        FROM artifact_media
        WHERE colorcount > mediacount;
    """,
    "9) Artifacts created between 1500 and 1600": """
        SELECT *
        FROM artifact_media
        WHERE datebegin >= 1500
          AND dateend   <= 1600;
    """,
    "10) Artifacts with no media files": """
        SELECT COUNT(*) AS no_media_count
        FROM artifact_media
        WHERE mediacount = 0 OR mediacount IS NULL;
    """,

    # artifact_colors
    "11) Distinct hues": """
        SELECT DISTINCT hue
        FROM artifact_colors
        WHERE hue IS NOT NULL;
    """,
    "12) Top 5 most used hues (by rows)": """
        SELECT hue, COUNT(*) AS freq
        FROM artifact_colors
        GROUP BY hue
        ORDER BY freq DESC
        LIMIT 5;
    """,
    "13) Average percent per hue": """
        SELECT hue, AVG(percent) AS avg_percent
        FROM artifact_colors
        GROUP BY hue
        ORDER BY avg_percent DESC;
    """,
    "14) All colors for a given artifact ID = 12345": """
        SELECT *
        FROM artifact_colors
        WHERE object_id = 12345;
    """,
    "15) Total number of color entries": """
        SELECT COUNT(*) AS total_colors
        FROM artifact_colors;
    """,

    # JOIN queries
    "16) Titles and hues for Byzantine culture": """
        SELECT m.title, c.hue
        FROM artifact_metadata AS m
        JOIN artifact_colors  AS c ON m.id = c.object_id
        WHERE m.culture = 'Byzantine';
    """,
    "17) Each artifact title with its hues": """
        SELECT m.id, m.title, c.hue
        FROM artifact_metadata AS m
        LEFT JOIN artifact_colors AS c ON m.id = c.object_id
        ORDER BY m.id;
    """,
    "18) Titles, cultures, media ranks where period not null": """
        SELECT m.title, m.culture, md.`rank`
        FROM artifact_metadata AS m
        JOIN artifact_media   AS md ON m.id = md.object_id
        WHERE m.period IS NOT NULL;
    """,
    "19) Top-10 ranked titles with hue 'Grey'": """
        SELECT DISTINCT m.title, md.`rank`, c.hue
        FROM artifact_metadata AS m
        JOIN artifact_media   AS md ON m.id = md.object_id
        JOIN artifact_colors  AS c  ON m.id = c.object_id
        WHERE md.`rank` <= 10
          AND c.hue = 'Grey'
        ORDER BY md.`rank`, m.title;
    """,
    "20) Artifacts per classification + avg media count": """
        SELECT m.classification,
               COUNT(DISTINCT m.id) AS artifact_count,
               AVG(md.mediacount)   AS avg_media_count
        FROM artifact_metadata AS m
        LEFT JOIN artifact_media AS md ON m.id = md.object_id
        GROUP BY m.classification
        ORDER BY artifact_count DESC;
    """
}

choice = st.selectbox("Select a predefined SQL query", list(queries.keys()))

if st.button("Run Query"):
    sql = queries[choice]
    with engine.connect() as conn:
        df = pd.read_sql(text(sql), conn)
    st.dataframe(df, use_container_width=True)

Overwriting app.py